body, html {
  height: 100%;
}

.bg {
  background-image: url("assets/background.jpg");

  height: 100%;
  padding-top: 68px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.jumbotron {
  opacity: 0.9;
  max-width: 500px;
}
